<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/css/index.css'>
  <link rel='stylesheet' href='/css/reset.css'>
</head>
<body>
  <div class="index">
      <%- include('./common/header.ejs',{username:username,nickname:nickname,is_admin:is_admin})%>
    <div class="container">
        <%- include('./common/menu.ejs',{is_admin:is_admin})%>
      <div class=main>
        <p>welcome</p>
        <img src='images/pic.jpg'>
      </div>
    </div>
  </div>
</body>
</html>