.main{
    padding:50px 0 0 30px;
    position:relative;
}
.main .searchname{
    border:none;
    border:1px solid #B8C5D8;
    border-radius:5px;
    outline:none;
    height:30px;
    padding:10px;
}
.main .sub{
    background:#E0EDFF;
    width:50px;
    height:30px;
    border-radius:5px;
    border:1px solid #E0EDFF;
    margin-left:10px;
    outline:none;
}
.main table{
    margin-top:30px;
    border:1;
   
}
.main td{
    border:1px solid #000;
    padding:10px;
    text-align:center;
}
.main ul{
    position:absolute;
    top:460px;
    left:860px;
    text-align:center;
}
.main ul li{
    width:40px;
    height:40px;
    line-height:40px;
    background:skyblue;
    float:left;
    margin-right:6px;
    border:1px solid skyblue;
}
.main ul li a{
    display:inline-block;
    height:40px;
    width:40px;
}

/* 更改信息部分的样式 */
.updata{
    width:400px;
    height:480px;
    border:1px solid #000;
    position:absolute;
    background:url(/images/background.jpg);
    z-index:2;
    left:40%;
    top:18%;
    padding:20px;
    display:none;
}
.updata .head{
    text-align:center;
    font-size:30px;
    padding:0px 0 20px 0;
}
.updata div{
    margin-bottom:20px;
    font-size:18px;
}
.updata input{
    border:0;
    border:1px solid skyblue;
}
.updata label{
    width:90px;
    float:left;
    text-align:right;
    margin-right:20px;
}
.updata .text{
    width:194px;
    height:30px;
    padding-left:6px
}
.updata input[type='radio']{
    margin:0 4px 0 16px;
}
.updata .button .submit {
    display:inline-block;
    padding:8px 14px;
    text-align:center;
    background:skyblue;
    margin:32px 30px 0 66px;
    font-size:18px;
}
.updata .id_none{
    display:none;
}