<div class="header">
    <div class="header_left">MySystem-后台管理系统</div>
    <div class="header_right">
        <p>您好-<%= nickname %><%= is_admin %></p>
        <button>
            <a href="/users/logout">退出登录</a>
        </button>
    </div>
</div>